extends layout

block content
  div.container
    div.email-list
      each letter in letters
        div(class=letter.unread ? "unread" : "read").item
          a(href="/mail/#{letter.id}")
            h2.title= letter.subject
            em.sender= letter.from
            p.snippet= letter.snippet

