extends layout

block topPanel
  a(href="/list/import?type=recent").round-button.left
    span.glyphicon.glyphicon-refresh
  span.logo SIMPLE LETTERS
  a(href="/logout").round-button.right
    span.glyphicon.glyphicon-log-out
block content
  div.container
    div.email-list
      each email in letters
        div(class=email.unread ? "unread" : "read", id=email._id).item
          - var anchorId = prevEmail ? prevEmail._id : ""
          a(href="/mail/#{email._id}?pos=#{anchorId}")
            h2.title= email.subject
            //- em.sender= email.from
            p.snippet= email.snippet
            - var prevEmail = email

