extends layout

block topPanel
  div.row
    div.col-xs-1.button-container-left
      a(href="/list/import?type=recent").round-button(title="Refresh")
        span.glyphicon.glyphicon-refresh
    div.col-xs-10
      div.logo SiMPLE LETTERS
    div.col-xs-1.button-container-right
      a(href="/logout").round-button(title="Log out")
        span.glyphicon.glyphicon-log-out
block content
  div.container.list
    div.email-list
      if latestEmail
        div.item.latest
          a(href="/mail/#{latestEmail._id}?pos=#{latestEmail._id}latest")
            h2.title= latestEmail.subject
            p.snippet= latestEmail.snippet
      each email in letters
        div(class=email.unread ? "unread" : "read", id=email._id).item
          - var anchorId = prevEmail ? prevEmail._id : ""
          a(href="/mail/#{email._id}?pos=#{anchorId}")
            h2.title= email.subject
              if email.seen
                span.glyphicon.glyphicon-eye-open.seen(title="Mail already seen")
            p.snippet !{email.snippet}
        div.tsc_divider8_black
            - var prevEmail = email

