extends layout

block top-panel
  p Refresh button
block content
  div.container
    div.email-list
      each email in letters
        div(class=email.unread ? "unread" : "read").item
          a(href="/mail/#{email.id}")
            h2.title= email.subject
            em.sender= email.from
            p.snippet= email.snippet

